<div class='splash-page'>  
  <div class='welcome'>
    <h2>Welcome to MBA</h2>
    <p>My budget App</p>
  </div>

  <%= link_to("Login", new_user_session_path, class: 'log-in')%>
  <%= link_to("SignUp", new_user_registration_path, class: 'sign_in')%>
</div>